ipykernel
ipython
ipython-genutils
ipywidgets
jupyter
jupyter-client
jupyter-console
jupyter-core
nltk
notebook
peewee
pickleshare
Pillow
Pillow-PIL
psycopg2
PySimpleGUI
queuelib
regex
scipy
sklearn
sqlparse
Tcl
textblob
textwrap3
tqdm
wordnet
